.benefits {
  padding: 63px 0;
  background: url(../img/benefits/back.png) 0 5%/100% no-repeat, url(../img/benefits/back.png) 0 52%/100% no-repeat;
  // .benefits__title
  &__title {
    margin-bottom: 56px;
    text-align: center;
  }
  &__up-title {
    margin-bottom: 18px;
  }
  &__mid {
    margin-bottom: 59px;
    padding-top: 60px;
    @media (max-width:$wd3) {
      padding-top: 40px;
    }
  }
  &__mobile {
    display: none;
    @media (max-width:$wd3) {
      display: block;
    }
  }
}

.benefits-top {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    margin-bottom: 50px;
    flex: 0 1 30.1%;
    &:not(:last-child) {
      margin-right: 4.85%;
    }
    @media (max-width:$wd2) {
      flex: 0 1 45%;
    }
    @media (max-width:$wd3) {
      flex: 0 1 100%;
    }
  }
}
.top-item {
  &__head {
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    @media (max-width:$wd3) {
      flex-direction: column;
    }
  }
  &__title {
    margin-left: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $dark-color;
    @media (max-width:$wd2) {
      font-size: 16px;
      line-height: 19px;
    }
    @media (max-width:$wd3) {
      margin-top: 20px;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
  }
  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: $dark-color;
    @media (max-width:$wd2) {
      font-size: 14px;
      line-height: 17px;
    }
    @media (max-width:$wd3) {
      text-align: center;
    }
  }
}
.benefits-mid {
  display: flex;
  &__title {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 52%;
    @media (max-width:$wd3) {
      margin-right: 0;
      align-items: center;
    }
  }
  &__up-title {
    margin-bottom: 14px;
  }
  &__content {
    @media (max-width:$wd3) {
      display: none;
    }
  }
  &__text {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $dark-color;
    @media (max-width:$wd2) {
      font-size: 14px;
      line-height: 17px;
    }
    @media (max-width:$wd3) {
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__btn {
    padding-left: 50px;
    padding-right: 50px;
    @media (max-width:$wd3) {
      padding-left: 44px;
      padding-right: 44px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.benefits-bot {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width:$wd2) {
      justify-content: space-around;
    }
    @media (max-width:$wd3) {
      margin-bottom: 30px;
    }
  }
  &__item {
    max-width: 315px;
    flex: 0 1 23%;
    @media (max-width:$wd2) {
      flex: 0 1 45%;
    }
    @media (max-width:$wd3) {
      flex: 0 1 100%;
    }

  }
}
.bot-item {
  margin-bottom: 55px;
  padding-left: 14px;
  padding-right: 7px;
  height: 194px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  @media (max-width:$wd1) {
    height: 160px;
  }
  @media (max-width:$wd3) {
    margin-bottom: 20px;
  }
  &__link {
    display: flex;
    align-items: center;
    background: none;
  }
  &__arrow-text {
    margin-left: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $light-color;
    text-align: left;
  }
  &.sugar {
    background: url(../img/benefits/1.jpg) 100%/cover no-repeat;
  }
  &.zlack {
    background: url(../img/benefits/2.jpg) 100%/cover no-repeat;
  }
  &.oil {
    background: url(../img/benefits/3.jpg) 100%/cover no-repeat;
  }
  &.amin {
    background: url(../img/benefits/4.jpg) 100%/cover no-repeat;
  }
}




